* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
body {
  display: flex;
  flex-direction: row;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.sidebar {
  background-color: rgb(15, 172, 224);
  width: 19%;
  height: 100vh;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sidebarTitle {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
}
.sidebarTitle h1 {
  padding-top: 0.5rem;
}
.sidebarTitle svg {
  height: 4rem;
  fill: white;
  padding-right: 0.5rem;
}
.sidebarItem {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 2.5rem;
  border-radius: 1rem;
  padding-left: 1rem;
  width: 12rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.sidebarItem svg {
  fill: white;
  height: 2rem;
  padding-right: 0.5rem;
}

.sidebarItem:hover {
  background-color: lightblue;
  cursor: pointer;
}
.sidebarGroup1 {
  padding-bottom: 5rem;
}

.side2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.headerButton {
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.25rem;
  margin-right: 0.5rem;
}
.headerButton:hover {
  background-color: lightgray;
}
#profilePicture {
  height: 100%;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  border-radius: 0.5rem;
}
#profilePicture:hover {
  background-color: lightgray;
}

.headerTopRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30%;
  align-items: center;
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 2rem;
}
.headerTopRow input {
  width: 30rem;
  height: 1.7rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
  background-color: rgb(236, 236, 236);
  margin-right: 35rem;
}
.headerTopRow Input:focus {
  outline: none;
}

.headerBottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70%;
  margin-left: 3rem;
  margin-right: 3rem;
}
.headerName {
  margin-top: auto;
  margin-bottom: auto;
}
.headerName h3 {
  font-size: 1.5rem;
}
.headerBottomButtons {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 24rem;
  display: border-box;
}
.headerBottomButton {
  font-size: 1.3rem;
  background-color: rgb(15, 172, 224);
  color: white;
  border-radius: 1rem;
  border: none;
  width: 7rem;
  height: 2.5rem;
  margin: 1rem;
}
.headerBottomButton:hover {
  color: rgb(15, 172, 224);
  background-color: white;
  border: 1px solid rgb(15, 172, 224);
}
.main {
  display: flex;
  flex-direction: row;
  background-color: rgb(235, 242, 245);
}
.projects {
  width: 70%;
  margin-top: 1.5rem;
  margin-right: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.projects h2 {
  margin-left: 3rem;
  margin-bottom: 0;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.card {
  border: none;
  display: flex;
  flex-direction: column;
  width: 23vw;
  height: 17vh;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  background: linear-gradient(90deg, orange 2%, white 2%);
  filter: drop-shadow(0px 1px 4px gray);
}
.cardTop {
  height: 80%;
}
.card h1 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.card p {
  padding-left: 2rem;
  padding-right: 4rem;
}
.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  padding-right: 0rem;
}
.cardBottom button {
  margin-left: 1rem;
}
.card button {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  background-color: white;
}
.card button:hover {
  background-color: rgb(224, 224, 224);
}

.sidebar2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 85vh;
}
.announcements {
  height: 50%;
  width: 23rem;
  margin-top: 1rem;
}
.announcements h2 {
  padding-bottom: 0.25rem;
  padding-left: 1rem;
}
.announcementsContainer {
  background-color: white;
  border-radius: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  filter: drop-shadow(0px 1px 4px gray);
  width: 20rem;
}
.announce {
  border-bottom: solid 2px lightgray;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.announce h2 {
  font-size: 1.1rem;
}
.announce p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  width: 75%;
}
.trending {
  height: 30vh;
  background-color: white;
  border-radius: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  width: 20rem;
  filter: drop-shadow(0px 1px 4px gray);
}
#trendingTitle {
  padding-bottom: 0.25rem;
  padding-left: 1rem;
}
.trendingPiece {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.4rem;
}
.trendingPicture {
  height: 3.5rem;
  padding-right: 2rem;
}
.trendingName {
  font-size: 1.2rem;
}
