* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: row;
}
.sidebar {
  background-color: rgb(15, 172, 224);
  width: 17%;
  height: 100vh;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar h1 {
  padding-top: 1rem;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
}
.sidebar h2 {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 2.5rem;
  border-radius: 1rem;
  padding-left: 1rem;
  width: 10.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.sidebar h2:hover {
  background-color: lightblue;
  cursor: pointer;
}
.sidebarGroup1 {
  padding-bottom: 5rem;
}

.side2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: white;
  border-bottom: 1px solid black;
}
.headerTopRow {
  display: flex;
  flex-direction: row;
}
.headerBottomRow {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: rgb(235, 242, 245);
}
.projects {
  width: 70%;
  height: 85vh;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
}
.card {
  border: none;
  display: flex;
  flex-direction: column;
  width: 23vw;
  height: 17vh;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  background: linear-gradient(90deg, orange 2%, white 2%);
  filter: drop-shadow(2px 2px 5px gray);
}
.cardTop {
  height: 80%;
}
.card h1 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.card p {
  padding-left: 2rem;
  padding-right: 4rem;
}
.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  padding-right: 2rem;
}
.cardBottom button {
  margin-left: 1rem;
}

.sidebar2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 85vh;
}
.announcements {
  height: 50%;
}
.trending {
  height: 50%;
}
